GXPEngine/bin/Debug/GXPEngine.exe
GXPEngine/bin/Debug/GXPEngine.pdb
GXPEngine/bin/Debug/GXPEngine.vshost.exe
GXPEngine/bin/Debug/GXPEngine.vshost.exe.config
GXPEngine/bin/Debug/GXPEngine.vshost.exe.manifest
GXPEngine/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GXPEngine/obj/x86/Debug/GXPEngine.csproj.FileListAbsolute.txt
GXPEngine/obj/x86/Debug/GXPEngine.csprojResolveAssemblyReference.cache
GXPEngine/obj/x86/Debug/GXPEngine.exe
GXPEngine/obj/x86/Debug/GXPEngine.pdb
GXPEngine/bin/Debug/GXPEngine.pdb
GXPEngine/bin/Debug/GXPEngine.pdb
GXPEngine/bin/Debug/GXPEngine.pdb